module.exports = {
  db:{
    test:{
      host:"localhost",
      username:"username",
      password:"password",
      database:"smartpark_test",
      dialect:"mysql",
      logging:false
    },
    production:{
      host:"localhost",
      username:"username",
      password:"password",
      database:"smartpark",
      dialect:"mysql",
      logging:false
    }
  },
  ssl:{
    email:"email",
    domains:["domain"],
    server:"staging"
  },
  secret:"secret",
  max_parking_spots:100,
  min_reserve_length:1,
  max_reserve_length:24
};
