body{
  font-family: sans-serif;
}
body > *{
  display: inline-block;
}
#content{
  display: flex;
}
#content > *{
  padding-right: 50px;
}
#list{
  border: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 173px;
}
